:root {
  --green: rgb(39, 189, 39);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 1rem;
}

button {
  position: relative;
  background-color: #e04b52;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

/* .buttonContainer {
  text-align: center;
  padding: 1rem;
} */

button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

nav {
  background-color: cornsilk;
}

.expenses {
  list-style: none;
}

.expensePrice{
  padding-bottom: 10px;
}

.expense {
  margin: 1rem;
}

.expense img {
  width: 100%;
}

.expense button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .expenses {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .expense {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .expense {
    width: calc(20% - 2rem);
  }
}

.expenseContainer{
  margin: 2rem;
}

.expenseName img{
  font-size: 14px;
  height: 6rem;
  width: auto;
}

.expense{
  text-align: center;
  border: firebrick solid 2px;
  padding: 1rem;
  width: 15rem;
  height: 33rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.expenseImage{
  justify-self: center;
  height: 12rem;
  width: auto;
}

.expensePrice{
  font-size: 15px;
}

.expenseCategory{
  font-size: 15px;
}

nav a {
  display: inline-block;
  padding: 0.25rem;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: firebrick;
  border-bottom: 2px solid firebrick;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: tomato;
  border-bottom: 2px solid tomato;
}

nav a.active {
  background-color: tomato;
  color: white;
}

#home {
  height: 50vh;
  min-height: 400px;
  background-color: cornsilk;
}

#home,
#about,
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

#about img {
  max-height: 50%;
}

#about a {
  display: block;
}

#projects {
  background-color: cornsilk;
  min-height: 400px;
}

#project-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.project-item {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
}

.technologies span {
  background-color: lightblue;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 4px;
  display: inline-block;
}

@media (min-width: 700px) {
  #project-list {
    flex-direction: row;
  }

  .project-item {
    width: 50%;
  }
}

form.new-form {
  border: solid black 1px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}




/* :root {
    --green: rgb(39, 189, 39);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Playfair Display", serif;
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  
  button {
    padding: 0.25rem 1rem;
    font-family: inherit;
    border: none;
    cursor: pointer;
  }
  
  button.primary {
    background-color: var(--green);
    color: white;
  }
  
  .app {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  header h1 {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    padding: 0.5rem 0;
  }
  
  .logo {
    font-size: 1.25em;
    padding-left: 0.5rem;
    color: transparent;
    text-shadow: 0 0 0 var(--green);
  }
  
  main {
    padding: 0 1rem;
  }
  
  .new-plant-form {
    padding: 2rem 1rem;
    margin: 2rem 0;
    background-color: rgba(181, 250, 181, 0.5);
  }
  
  .new-plant-form form {
    display: flex;
    justify-content: center;
  }
  
  .new-plant-form input {
    margin-right: 2rem;
    flex: 1;
  }
  
  .new-plant-form button {
    width: 150px;
  }
  
  .searchbar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    display: block;
  }
  
  input {
    padding: 0.25rem;
    border: none;
    font-family: inherit;
    font-size: 1.2em;
    border-bottom: 2px solid gray;
    transition: all 0.2s;
    width: 100%;
  }
  
  input:focus {
    outline: none;
    border-bottom: 2px solid var(--green);
  }
  
  .cards {
    list-style: none;
  }
  
  .card {
    margin: 1rem;
  }
  
  .card img {
    width: 100%;
  }
  
  .card button {
    margin-top: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .cards {
      display: flex;
      flex-wrap: wrap;
    }
  
    .card {
      width: calc(33% - 2rem);
    }
  }
  
  @media (min-width: 1024px) {
    .card {
      width: calc(25% - 2rem);
    }
  }
  
  @media (min-width: 1200px) {
    .card {
      width: calc(20% - 2rem);
    }
  }
   */